.header{
    background-color: #afaeae;
    text-align: center;
    height:70px;
}
a{
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    padding-left: 20px;
    display: inline; 
}


.nav{
    background-color: #afaeae;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    height: 40px;
    text-align: center;

}
.section{
    background-color: #afaeae;
    height:250px;
    text-align: center;
}
.aside1{
    background-color: #afaeae;
    float: left;
    margin-top: 20px;
    text-align: center;
    height: 200px;
    margin-right: 10px;
}

.aside2{
    background-color: #afaeae;
    margin-right: 10px;
    float: left;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}

.aside3{
    background-color: #afaeae;
    float: right;
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
}

.footer{
    text-align: center;
    background-color: #afaeae;
    height: 70px;
    margin-top: 30px;
    padding-top: 10px;
    font-weight: bold;
}

#hh1{
    padding-top: 10px;
}

#divp{
    font-size: 120%;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}

@media screen and (max-width:320px) {
    a{
            padding-left: 5px;
    }
}

@media screen and (max-width:1440px) {

    .section{
        height: 300px;
    }
    
}


@media screen and (max-width:2560px) {
   
    a{
        padding-left: 40px;
    }
    
    .aside1,.aside2,.aside3{
        height:300px;
        
    }
    .footer{
        height:100px;
        padding-top: 15px;
        padding-bottom: 15px;
       
    }
    .section{
        height: 300px;
       
        padding-top: 80px;
    }
}